.footer{
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: black;
    font-family: Montserrat;
    margin-top: 20px;
}
#icons{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:769px) {
    #icons{
        width: 100%;
    }
}